@font-face {
  font-family: 'Pictocrypto-Regular';
  src: url('/fonts/Pictocrypto-Regular.woff2') format('woff2'), /* Add other font formats here */
       url('/fonts/Pictocrypto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Navbar.module.css */
/* ... (previous CSS rules) */

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1260px;
  background-color: transparent !important;
  font-family: 'Pictocrypto-Regular';
  position: relative; /* Add this to make the navRight button's position relative to the .nav container */
}



.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

.navMiddle {
  display: flex;
  margin-left: 12px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  gap: 24px;
}

.profileLink {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.profileImage {
  vertical-align: middle; /* Vertically align the image within the line */
}

.navToggle {
  display: none;
  cursor: pointer;
  z-index: 4;
}

.navToggle span {
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: #fff;
  display: block;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.open .navToggle span:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.open .navToggle span:nth-child(2) {
  opacity: 0;
}

.open .navToggle span:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

.navLogo {
  display: flex;
  align-items: center;
}

.navLogo a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
  font-family: 'Pictocrypto-Regular';
  text-decoration: none;
}

.link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
  font-family: 'Pictocrypto-Regular';
  text-decoration: none;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style for link color when hovered */
.link:hover {
  color: rgb(20, 228, 48);
}

.navLogo a:hover {
  color: rgba(255, 255, 255, 1);
}

/* ... (rest of the CSS rules) */

/* Screens less than 720px */
@media (max-width: 720px) {
  .navMiddle {
    display: none;
  }

  .navToggle {
    display: block;
  }

  .navRight {
    /* Add these rules to keep the navRight button aligned to the right in mobile version */
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .open .navMiddle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }
}
